body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
  /*space on top and bottom*/
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: green;
  border-width: 5px;
  width: 2.5%;
  margin-bottom: 100px;
  margin-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.parag {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

p {
  line-height: 2;
}

.parag1 {
  width: 30%;
  margin: auto;
}

.imageD3 {
  border-radius: 50%;
  width: 15%;
  float: right;
  margin-left: 30px;
}

.imageD2 {
  border-radius: 50%;
  width: 15%;
  float: left;
  margin-right: 30px;
}

.imageD1 {
  width: 10%;
}

.kekW {
  width: 10%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.doNot {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: white;
}

.hH2 {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

.trust {
  margin-bottom: 50px;
  margin-top: 50px;
}

.please {
  margin-bottom: 50px;
  margin-top: 50px;
}

h3 {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bouton {
  color: #11999E;
  margin-bottom: 100px;
}

a {
  color: #11999E;
  font-family: 'Mochiy Pop P One', sans-serif;
  margin: 10px 10px 10px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.theW {
  color: red;
}

.theW2 {
  color: red;
}

.copyRight {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.copyRight:hover {
  color: black;
}

.pro {
  text-decoration: underline;
}

.scloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.create {
  background-image: url('images/KEKW.png');
  background-repeat: no-repeat;
  padding-left: 30px;
  /* width of the image plus a little extra padding */
  display: block;
  /* may not need this, but I've found I do */
}

/************BUTTON***********/
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #aa34d9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #aa34d9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #aa34d9);
  background-image: -o-linear-gradient(top, #3cb0fd, #aa34d9);
  background-image: linear-gradient(to bottom, #3cb0fd, #aa34d9);
  text-decoration: none;
}
